[mysqld]
server-id=11
character_set_server=utf8
lower-case-table-names=1
default-time-zone='+8:00'
log-bin=/var/lib/mysql/mysqlbin
binlog-format="mixed"

skip-host-cache
skip-name-resolve

# long_query_time=2
# slow-query-log=ON
slow_query_log_file=/var/lib/mysql/slow_query.log

#general-log=ON
general-log-file=/var/lib/mysql/query.log

log_error=/var/lib/mysql/error.log


[client] 
default-character-set=utf8


